<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../public/style.css" />
  </head>
  <body>
    <div class="navbar">
      <div class="logo">
        <img src="./myntra_logo.png" alt="" />
      </div>
      <div class="menuBar">
        <div>MEN</div>
        <div>WOMEN</div>
        <div>KIDS</div>
        <div>HOME</div>
        <div>BEAUTY</div>
        <div>GENZ</div>
        <div>STUDIO</div>
      </div>
      <div class="searchBar">
        <img src="./search_icon2.png" alt="">

        <input type="text" name="" id="" />
      </div>
      <div class="subMenu">
        <div>Profile</div>
        <div>Wishlist</div>
        <div>Bag</div>
      </div>
    </div>
  </body>
</html>
