<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="./myntra_logo.png" alt="" srcset="">
        </div>
        <div class="menuBar">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="searchBar">
            <input type="text" name="" id="">
        </div>
        <div class="subMenu">

        </div>
    </div>
</body>
</html>